## <font color=green>Project Group 2</font>
#### <font color=green>Gabrielle H. B. Madsen, Jakob H. Schauser, Martin Pries-Brøndberg & Monika Haubro</font>

In [2]:
# Import packages
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

# <font color=green>Task 1 </font>
### <font color=green> *Database & Design af skema*  </font>

Databasen er oprettet i <font color=green>pgAdmin 4</font> og har fået navnet <font color=green>'FakeNews'</font>. Derefter har det været muligt at udarbejde en tabel på baggrund af den udleverede csv-fil. Tabellen har vi kaldt <font color=green>'million'</font>, og den indeholder al dataen og indbefatter kolonnerne: 

- index (*bigint*)
- Unnamed: 0 (*text*)
- id (*text*)
- domain (*text*)
- type (*text*)
- url (*text*)
- content (*text*)
- scraped_at (*text*)
- inserted_at (*text*)
- updated_at (*text*)
- title (*text*)
- authors (*text*)
- keywords (*double precision*)
- meta_keywords (*text*)
- meta_description (*text*)
- tags (*text*)
- summary (*double precision*)
- source (*double precision*)

Det er ud fra denne data, vi har designet skemaerne. Vi har valgt, at lave en fact tabel, som vi kalder 'fact_fake_news', der indeholder de relevante kolonner, vi har anvendt i analysearbejdet. Det drejer sig om:
- id
- domain_id
- type_id
- author_id
- url
- content
- scraped_at
- title
- keywords
- meta_keywords
- meta_description
- tags
- summary

Derudover har vi lavet tre dimensionstabeller kaldet hhv. 'dim_authors', 'dim_domain' og 'dim_type', hvor 'dim_authors' består af kolonnerne:
- authors
- id

'dim_domain' består af kolonnerne:
- domain
- id

og 'dim_type' indeholder kolonnerne:
- type
- id

De er derved relateret ift. det relevante id i fact tabellen dvs. hhv. domain_id, type_id og author_id.

In [38]:
# Read csv
df = pd.read_csv('/Users/gabriellemadsen/Desktop/1mio-raw.csv')

# Create table named 'million' in database
from sqlalchemy import create_engine
engine = create_engine('postgresql://gabriellemadsen:N1phkan1993skrid@localhost:5432/FakeNews')
df.to_sql('million',engine)

In [3]:
# Connecting to database
con = psycopg2.connect("postgresql://gabriellemadsen:N1phkan1993skrid@localhost:5432/FakeNews")

# Cursor
cur = con.cursor()

# Load sql extension
%load_ext sql

# Environment
%env DATABASE_URL=postgresql://gabriellemadsen:N1phkan1993skrid@localhost:5432/FakeNews

OperationalError: could not connect to server: Connection refused (0x0000274D/10061)
	Is the server running on host "localhost" (::1) and accepting
	TCP/IP connections on port 5432?
could not connect to server: Connection refused (0x0000274D/10061)
	Is the server running on host "localhost" (127.0.0.1) and accepting
	TCP/IP connections on port 5432?

### <font color=green> *Demonstration af den fungerende database* </font>

I det følgende demonstrerer vi, at databasen fungerer, som forventet og at tabellen 'million' med al data samt tabellen 'fact_fake_news' indeholder en million rækker (FakeNewsCorpus-data fra csv-fil udleveret af Desmond), samt at den understøtter simple SQL queries.

####  <font color=green> *Antal rækker*  </font>

In [55]:
# Counts the rows in table 'million' = 1.000.000 rows
%sql SELECT COUNT(*) FROM million

 * postgresql://gabriellemadsen:***@localhost:5432/FakeNews
1 rows affected.

[(1000000,)]

***

In [6]:
# Counts the rows in table 'fact_fake_news' = 1.000.000 rows
%sql SELECT COUNT(*) FROM fact_fake_news

 * postgresql://gabriellemadsen:***@localhost:5432/FakeNews
1 rows affected.

[(1000000,)]

***

In [7]:
# Counts the rows in table 'dim_authors' = different authors
%sql SELECT COUNT(*) FROM dim_authors

 * postgresql://gabriellemadsen:***@localhost:5432/FakeNews
1 rows affected.

[(78894,)]

***

In [8]:
# Counts the rows in table 'dim_domain' = different domains
%sql SELECT COUNT(*) FROM dim_domain

 * postgresql://gabriellemadsen:***@localhost:5432/FakeNews
1 rows affected.

[(395,)]

***

In [9]:
# Counts the rows in table 'dim_domain' = different types
%sql SELECT COUNT(*) FROM dim_type

 * postgresql://gabriellemadsen:***@localhost:5432/FakeNews
1 rows affected.

[(13,)]

#### <font color=green> *SQL query eksempel 1* </font>

In [74]:
# Simple query to demonstrate working database
## Selecting id, type, domain, title and authors for id's between 666615.0 and 666620.0
%sql SELECT id, type, domain, title, authors FROM million WHERE id BETWEEN '666615.0' AND '666620.0'

 * postgresql://gabriellemadsen:***@localhost:5432/FakeNews
7 rows affected.

[('66662', 'fake', 'beforeitsnews.com', 'Washington State Hotbed For Ufo Activity', 'World Ufo Photos'),
 ('666615.0', 'conspiracy', 'infiniteunknown.net', 'Bermuda Record Cold, China Blizzards, Greenland Record Snow Gain (Video) – Infinite Unknown', None),
 ('666616.0', 'conspiracy', 'infiniteunknown.net', 'Antarctica Melting from Beneath & Volcanoes Begin Steaming Under Greenland (Video) – Infinite Unknown', None),
 ('666617.0', 'conspiracy', 'infiniteunknown.net', 'Stubborn glaciers fail to retreat, awkward polar bears continue to multiply – Infinite Unknown', None),
 ('666618.0', 'political', 'dailykos.com', 'Why Are They Doing It?', 'Backgroundurl Avatar_Large, Nickname, Joined, Created_At, Story Count, N_Stories, Comment Count, N_Comments, Popular Tags, Showtags Popular_Tags'),
 ('666619.0', 'political', 'dailykos.com', 'NYT: Spying targeted at anti-war protesters?', 'Backgroundurl Avatar_Large, Nickname, Joined, Created_At, Story Count, N_Stories, Comment Count, N_Comments, Popular Tags, Showtags Popular_Tags'),
 ('666620.0', 'political', 'dailykos.com', 'BREAKING: ABC News Reports $100,000 More In Rezko Donations to Obama', 'Backgroundurl Avatar_Large, Nickname, Joined, Created_At, Story Count, N_Stories, Comment Count, N_Comments, Popular Tags, Showtags Popular_Tags')]

#### <font color=green> *SQL query eksempel 2* </font>

In [45]:
# Simple query to demonstrate working database
## Counting NULL types
%sql SELECT COUNT(*) FROM million WHERE type IS NULL

 * postgresql://gabriellemadsen:***@localhost:5432/FakeNews
1 rows affected.

[(41066,)]

#### <font color=green> *SQL query eksempel 3* </font>

In [76]:
# Simple query to demonstrate working database
## Selecting id, type, url and meta_keywords where the length of meta_keywords equals 6 (ordered by id)
%sql SELECT id, type, url, meta_keywords FROM million WHERE LENGTH(meta_keywords) = 6 ORDER BY id

 * postgresql://gabriellemadsen:***@localhost:5432/FakeNews
6 rows affected.

[('14329', 'political', 'http://www.washingtonexaminer.com/beware-that-dubious-article-claiming-trump-didnt-want-to-be-president/article/3', "['DC']"),
 ('41377', 'political', 'http://www.breitbart.com/london/2016/05/10/mps-attack-governments-deeply-depressing-9-3m-eu-referendum-leaflet-in-petition-debate/', "['EU']"),
 ('41709', 'political', 'http://www.breitbart.com/london/2016/05/24/david-cameron-attempting-secure-remain-endorsements-g7-summit/', "['G7']"),
 ('513022', 'bias', 'https://katehon.com/el/news/ta-kosmitika-tis-noylant-gia-tin-ee-kai-o-neos-presvis-ton-ipa-stin-ellada', "['Τα']"),
 ('643432.0', 'bias', 'https://sputniknews.com/voiceofrussia_uk/tag_116986818/', "['F1']"),
 ('901300', 'political', 'https://www.thedailybeast.com/from-ptsd-to-prison-why-veterans-become-criminals', "['VA']")]

# <font color=green>Task 2</font>

#### <font color=green> Attributter </font>

Herunder ses tabellerne i databasen samt deres attributter:

<table>
<tr>
    <th>Table</th>
    <th>Columns</th>
    <td></td> 
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <th>Fact_fake_news</th>
    <td>id</td>
    <td>domain_id</td>
    <td>type_id</td>
    <td>author_id</td>
    <td>url</td>
    <td>content</td>
    <td>scraped_at</td>
    <td>title</td>
    <td>keywords</td>
    <td>meta_keywords</td>
    <td>meta_description</td>
    <td>tags</td>
    <td>summary</td>
</tr>

<tr>
    <th>dim_type</th> 
    <td>type</td> 
    <td>id</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>

<tr>
    <th>dim_domain</th> 
    <td>domain</td> 
    <td>id</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
 
<tr>
    <th>dim_authors</th> 
    <td>authors</td> 
    <td>id</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
</table>



dim_type.id $\rightarrow$ Fact_fake_new.type_id, one-to-many <br>
dim_domain.id $\rightarrow$ Fact_fake_new.domain_id,  one-to-many<br>
dim_authors.id $\rightarrow$ Fact_fake_new.author_id, one-to-many <br>

<br />


Det antages, at to forskellige artikler kan have den nøjagtig samme title. Derfor antages det endvidere, at to identiske titles kan have forskelligt content, keywords, meta_keywords, meta-descriptions, tags og summary. Bemærk at title ikke er en delmængde af content og type er givet for et helt domæne (https://github.com/several27/FakeNewsCorpus/blob/master/README.md).

<br />

<table>
<tr>
    <td>id $\rightarrow$ </td>
    <td>domain_id $\rightarrow$ </td>
    <td>type_id $\rightarrow$ </td>
    <td>author_id $\rightarrow$ </td>
    <td>url $\rightarrow$ </td>
    <td>content $\rightarrow$ </td>
    <td>scraped_at $\rightarrow$ </td>
    <td>title $\rightarrow$ </td>
    <td>keywords $\rightarrow$ </td>
    <td>meta_keywords $\rightarrow$ </td>
    <td>meta_description $\rightarrow$ </td>
    <td>tags $\rightarrow$ </td>
    <td>summary $\rightarrow$ </td>
</tr>
<tr>
    <td>id</td> 
    <td>domain, type, type_id (because type is given for enitre domain)</td>
    <td>type</td>
    <td>author</td>
    <td>eveyrthing except scraped_at</td>
    <td>nothing</td>
    <td>nothing</td>
    <td>nothing</td>
    <td>nothing</td>
    <td>nothing</td>
    <td>nothing</td>
    <td>nothing</td>
    <td>nothing</td>
</tr>
</table>

#### <font color=green> Functional Dependencies, Primary Keys og BCNF </font>

*Functional dependencies* <br>
domain_id $\rightarrow$ domain, type, type_id <br>
type_id $\rightarrow$ type <br>
author_id $\rightarrow$ author <br>
url $\rightarrow$ eveyrthing except scraped_at <br>



*Primary keys*
url + scraped_at



*Superkey*
url + scraped_at


Based on our superkey we conclude it is in BCNF.

BCNF, bedre kendt som Boyce-Codd normal form, bruges til database normalisering hvis formål er at reducere overflødig data og forbedre dataintegriteten. Hvis en relation eller en tabel er på BCNF, vil den altid være på 1NF, 2NF og 3NF - svarende til 1 Normal Form, 2. Normal Form og 3. Normal Form (de tre former vil ikke blive yderligere uddybet her). <br>

Kort sagt er en tabel på BCNF hvis den er i 3. Normal Form og at for $A \rightarrow B$ er $A$ en super key eller en candidate key for enhver functional dependency (FD). <br>
På trods af at der er store fordele ved en mere normaliseret database, kan det at der kommer flere tabeller og joins mellem de forskellige tabeller, gøre selve databasen langsommere. Dertil kan man somme tider miste nogle meningsfyldte depencies i normaliseringsprocessen, hvilket gør at det ikke nødvendigvis altid er optimalt at normalisere sin data.

# <font color=green>Task 3</font>

#### <font color=green> *Task 3.1 [Relationel Algebra]* </font> 

$\pi $ domain ($\sigma$ type = 'reliable' $\land$ scraped_at $\geq$ '2018-01-15' ( million))

#### <font color=green> *Task 3.1 [SQL]* </font>

In [5]:
# List the domains of news articles of reliable type and scraped at or after January 15, 2018. 
# NOTE: Do not include duplicate domains in your answer
%sql SELECT DISTINCT domain FROM million WHERE type = 'reliable' AND scraped_at >= '2018-01-15'

 * postgresql://gabriellemadsen:***@localhost:5432/FakeNews
3 rows affected.

[('christianpost.com',), ('consortiumnews.com',), ('nutritionfacts.org',)]

***

#### <font color=green> *Task 3.2 [Extended Relationel Algebra]* </font> 

$\gamma$ authors, COUNT(type)($\pi$ MAX(authored)($\gamma$ MAX(authored)($\sigma$ prolific($\pi$ authors, COUNT(type) $\rightarrow$ authored($\gamma$ authors, COUNT(type)($\sigma$ NOT (authors = NULL) $\land$ type = 'fake'))))))(million)

#### <font color=green> *Task 3.2 [SQL]* </font>

In [7]:
# List the name(s) of the most prolific author(s) of news articles of fake type. 
# An author is among the most prolific if it has authored as many or more fake news articles
# as any other author in the dataset.
%sql SELECT authors FROM million GROUP BY authors HAVING COUNT(type) = (SELECT MAX(authored) FROM (SELECT authors, COUNT(type) authored FROM million WHERE authors IS NOT NULL AND type = 'fake' GROUP BY authors) prolific)

 * postgresql://gabriellemadsen:***@localhost:5432/FakeNews
1 rows affected.

[('John Rolls',)]

***

#### <font color=green> *Task 3.3 [SQL]* </font>

In [8]:
# Count the pairs of article IDs that exhibit the exact same set of meta-keywords, 
# but only return the pairs where the set of meta-keywords is not empty. 
%sql SELECT COUNT(matches.*)/2 matching_meta_keywords FROM (SELECT meta1.id meta1_id, meta2.id meta2_id FROM million meta1 JOIN million meta2 ON meta1.meta_keywords = meta2.meta_keywords WHERE LENGTH( meta1.meta_keywords ) > 4 AND LENGTH ( meta2.meta_keywords ) > 4AND meta1.id <> meta2.id) matches

 * postgresql://gabriellemadsen:***@localhost:5432/FakeNews
1 rows affected.

[(15902963,)]

# <font color=green>Task 4</font>

Vi skulle lave tre spændende/sigende queries på datasættet. 

Dette første er dette som finder de ti domæner der har lavet flest utilregnelige artikler:

In [5]:
%sql SELECT domain, count(id) FROM data WHERE type != 'reliable' ORDER BY count(id) DESC LIMIT 10

UsageError: Line magic function `%sql` not found.

Den næste er åbenlys, da alles første tanke ved ordene "Fake News" nok lander på det amerikanske præsidentvalg. Vi trækker altså først antallet af sider der der nævner Trump i deres indhold hvorefter vi finder hvilken procentdel af

In [ ]:
%sql SELECT count(id) FROM data WHERE instr(content, 'Trump') > 0

Det kan altså ses, at over 20% af alle artiklerne har noget med Trump at gøre. Meget vigtigt er det dog at lægge mærke til, at "content"-feltet ofte også tager relaterede artikler og reklamer med, så der skulle yderligere (og markant mere omfattende) cleaning til, før man kunne konkludere noget. Det er dog til at bemærke at queries med "Clinton" eller lignende overhovedet ikke når samme procentdel.

Den sidste query kigger hovedsageligt på metaatributterne for vores database, men meget vigtig alligevel. Vi kan se på hvor mange af artiklerne hvis taggede:

In [4]:
%sql SELECT count(*) FROM data WHERE type = 'unknown'

UsageError: Line magic function `%sql` not found.

Dette svarer til cirka 5% af databasen, der altså tydeligt mangler cleaning for cirka, da utaggede artikler er ligegyldige for fremtidig modellering.