asdasdsa

In [9]:
import sqlite3
import pandas as pd

# con = sqlite3.connect('database.db')
con = sqlite3.connect('1mio.db')

# print(con)

cur = con.cursor()

quer1 = "SELECT domain, count(type) FROM data WHERE type != 'reliable' ORDER BY count(type) DESC"

quer2 = "SELECT count(type) FROM data WHERE instr(content, 'Trump') > 0"

quer3 = "SELECT authors, count(type) FROM data GROUP BY authors ORDER BY count(type) DESC"

quer3 = "SELECT * FROM data"

for row in cur.execute(quer1):
    print(row)
    break

for row in cur.execute(quer2):
    print(row[0]/1000000*100)

for row in cur.execute(quer3):
    print(row)
    break
# data = pd.read_csv("C:/Users/jakob/Downloads/FakeNews/news_sample.csv")
# data.head()
# data.to_sql("data", con, if_exists='append', index=False)

('domain', 993400)
20.9061
('', 'id', 'domain', 'type', 'url', 'content', 'scraped_at', 'inserted_at', 'updated_at', 'title', 'authors', 'keywords', 'meta_keywords', 'meta_description', 'tags', 'summary', 'source')

In [4]:
209061/1000000*100

20.9061

In [1]:
import sqlite3
import pandas as pd
import csv

con = sqlite3.connect("1mio.db")
cur = con.cursor()

a_file = open("1mio-raw.csv",encoding="utf8")
rows = csv.reader(a_file)
cur.execute("CREATE TABLE data (unknown ,id, domain, type, url, content, scraped_at, inserted_at, updated_at, title, authors, keywords, meta_keywords, meta_description, tags, summary, source)")
cur.executemany("INSERT INTO data VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", rows)

cur.execute("SELECT * FROM data")
con.commit()
con.close()